.main_div {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.col {
    width: 100px;
    height: 100px;
}

.w {
    background-color: white;
}

.b {
    background-color: black;
}